[Unit]
Description=mediakey-remote
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/kbouck/dev/mediakey-remote/dist/mediakey-remote

[Install]
WantedBy=multi-user.target
